* {
  background-color: #ebebeb;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.shopping-cart-header {
  align-items: center;
  background-color: #f7ff43;
  display: flex;
  height: 100px;
  justify-content: center;
}

.page-title {
  background: rgba(255, 255, 255, 0.12);
  width: 250px;
}

main {
  display: flex;
}

.cart-button {
  background: url('./icons/shopping_cart_black_24dp.svg');
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  height: 24px;
  width: 24px;
}

.category-list {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  min-width: 180px;
}

.category-btn {
  background-color: #333;
  border: none;
  color: aliceblue;
  cursor: pointer;
  margin-top: 5px;
  text-align: left;
}

.category-btn:hover {
  background-color: gray;
}

.article {
  padding-left: 20px;
  width: 100%;
}

.top-page {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.search {
  width: 100%;
}

.search input {
  border-radius: 20px;
  padding: 3px 10px;
  width: 80%;
}

.search button {
  border-radius: 20px;
  padding: 3px 8px;
}

.cart-space {
  width: 60px;
}

.product-card {
  border: 1px solid black;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  height: 300px;
  margin: 10px;
  width: 200px;
}

.product-title {
  background-color: #2d3277;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  color: aliceblue;
  font-size: 14px;
  padding: 5px;
}

.product-img-ctn {
  align-items: center;
  background-color: white;
  display: flex;
  flex-grow: 2;
  justify-content: center;
}

.product-img {
  max-height: 200px;
  max-width: 150px;
}

.price-tag {
  background-color: darkgray;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 10px;
  text-align: right;
}

.products-list {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

.add-to-cart {
  cursor: pointer;
}

/* Cart button ===================================================
source: https://jsfiddle.net/solodev/rpuLfkg5/ */

.logo {
  max-height: 70px;
}

ul {
  width: 40px;
}

li {
  list-style: none;
}

.fa, .fas {
  font-family: FontAwesome , sans-serif;
}

ul li a {
  color: #343a40;
  /* font-size: 1.1rem; */
  font-size: 1.5rem;
}

.cart:hover {
  color: #d60e96;
  text-decoration: none;
}

ul li a .cart-basket {
  background-color: #418deb;
  border-radius: 50%;
  color: white;
  font-size: 0.9rem;
  height: 20px;
  position: absolute;
  right: -5px;
  top: -6px;
  width: 20px;
}
